@import "./../../styleVariables/styles.module.scss";
@import url("http://fonts.cdnfonts.com/css/new-york-extra-large");

.header {
  display: flex;
  justify-content: space-between;
  height: 133px;
  width: 100%;
  align-items: center;
  padding: 0 61px 0 63.58px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.logo {
  margin-right: 20px;
}
.navigation {
  display: flex;
  align-items: center;
  line-height: 133px;
  gap: 31px;
  a {
    font-family: "New York Small", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.active {
  border-bottom: 2px solid $black;
}

.nav_burger {
  @include respond(small) {
    padding: 133px 0;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    width: 400px;
    background-color: rgba(#7fffd4, 0.85);
    z-index: 2;
    line-height: 20px;
    transition: all 0.3s linear;
    transform: translateX(100%);
  }
}
.isOpen {
  transform: translateX(0);
}
.hamburger_button {
  position: fixed;
  right: 20px;
  top: 52px;
  width: 2rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 3;
  div {
    position: relative;
    width: 24px;
    border-radius: 10px;
    background: $black;
    border: 1px solid $black;
  }

  @include respond(small) {
    display: flex;
  }
}
