@import "./../../../styleVariables/styles.module.scss";

.menuBurger {
  position: absolute;
  right: 20px;
  top: 52px;
  width: 24px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 3;
  div {
    border-radius: 10px;
    background: $black;
    border: 1px solid $black;
  }

  @include respond(small) {
    display: flex;
  }
}
