@mixin respond($breakpoint) {
  @if ($breakpoint == extra-large) {
    @media (min-width: 1201px) {
      @content;
    }
  }
  @if ($breakpoint == large) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if ($breakpoint == tablet) {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == mobile) {
    @media (max-width: 480px) {
      @content;
    }
  }
}
