@import url("http://fonts.cdnfonts.com/css/new-york-extra-large");
.articlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 52px;
}
.articlePage_title {
  font-family: "New York Small", sans-serif;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
}
.articlePage_image {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 1440px;
  img {
    height: 100%;
    width: 100%;
  }
}
.articlePage_text {
  font-family: "New York Medium", sans-serif;
  font-size: 20px;
}
.articlePage_date {
  font-size: 16px;
}
