@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);
.articles {
  display: grid;
  grid-template-columns: 304px 304px;
  grid-row-gap: 64px;
  grid-column-gap: 28px;
  justify-content: center;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 22px;
  padding-top: 52px;
}
.articleGridRowSize {
  grid-template-rows: 176px max-content;
}
